*{
    margin: 0;
    padding: 0;

}
body{
    background-color: black;
    color: aliceblue;
}
.main{
    background-image: url(bg.jpg);
    background-position: center center;
    background-size: max(1200px,100vw);
    background-repeat: no-repeat;
    height: 70vh;
    position: relative;
}
.main .box{
    height: 70vh;
    width: 100%;
    opacity: 0.69;
    background-color: black;
    top: 0;
    position: absolute;
}
.main nav{
    display: flex;
    width: 66vw;
    height: 100px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width:120px;
    position: relative;
    z-index: 5;
}
nav button{
    position: relative;
    z-index: 5;
}
.hero{
    color: white;
    height: calc(100% - 100px);
    padding:0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    font-family:"Poppins", sans-serif; 
    gap:23px;
}
.hero> :first-child{
    font-size: 57px;
    font-weight: 800;
    text-align: center;
    font-family:ui-monospace;
}
.hero> :nth-child(2){
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.hero> :nth-child(3){
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}
.line{
    background-color: rgb(55, 55, 55);
    height: 7px;
    position: relative;
    z-index: 20;
}
.btn{
    padding: 3px 8px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
}
.btn-red{
    background-color: rgba(255, 0, 0, 0.768);
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    text-align: center;
    
}
.btn-red-sm{
    background-color: rgba(255, 0, 0, 0.768);
    color: white;

}
 input{
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
.int{
    display: flex;
    align-items: center;
    gap: 23px;
}
/* select{
    padding: 3px 8px;
    font-weight: bold;
    background-color: transparent;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid white;
} */
.btn:hover{
    outline: 1px solid white;
}
.first{
    
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 90vw;
    margin: auto;
    font-family: 'poppins';
}
@media screen and (max-width:1300px) {
    .first{
        flex-wrap: wrap;
    }
}
.secimg{
    position: relative;
}
.secimg img{
    width: 555px;
    position: relative;
    z-index: 10;
}
.secimg video{
    position: absolute;
    top: 76px;
    right: 44px;
}
.first > div{
    display: flex;
    flex-direction: column;
}
.first > div :nth-child(1){
    font-size: 49px;
    font-weight: bolder;
    padding-left: 100px;
}
.first > div :nth-child(2){
    font-size: 20px;
    padding-left: 100px;
}
.third img{
    width: 700px;
}
.third video{
    width: 465px;
    top: 44px;
    right: 120px;
}
.faq{
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
    padding: 23px;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d2d2d;
    padding: 24px;
    max-width: 60vw;
    margin: 35px auto;
    font-size: 25px;
    cursor: pointer;
    font-family: 'poppins';
    transition: all 2s ease-out;
}
.faqbox:hover{
    background-color: #474747;
}
.fip{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    flex-direction: column;
    position: relative;
    padding-bottom: 40px;
}
.fip >:first-child{
    padding: 20px;
}
footer{
    max-width: 60vw;
    margin: auto;
    padding: 25px 25px 0px 25px;
}
footer span{
    margin: auto;
    text-align: center;
    font-size: medium;
    max-width: 60vw;
}
.end{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    display: grid;
    margin: auto;

}
@media screen and (max-width:1200px) {
    .hero> :first-child {
        font-size: 43px;
    }
    .int {
        display: flex;
        align-items: center;
        gap: 23px;
        flex-wrap: wrap;
        justify-content: center;
    }
    .end{
        grid-template-columns: 1fr 1fr ;
        display: grid;
        margin: auto;
    }
}
.ft-item{
    display: flex;
    flex-direction: column;
    
}
.ft-item a{
    padding: 10px;
    color: aliceblue;
    font-family: poppins;
    font-size: 15px;
}
.credit{
    margin: 0;
    padding-top: 30px;
    text-align: center;
    font-size: small;
    color: rgb(0, 183, 255);
}